<div class="justify-content-centre">
    <nav class="navbar navbar-expand bg-light navbar-light">
  
        <!-- Links -->
       <h5>Training Program Maintainance</h5>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnAddTrainingProgram()">Add Training Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="clickOfListTrainingProgram()">List all Training Programs</a>
          </li>
  
        </ul>
      
      </nav>
  </div>

  <div class="justify-content-centre">
    <nav class="navbar navbar-expand bg-light navbar-light">
  
        <!-- Links -->
       <h5>Enroll Participant</h5>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnAddParticipantEnrolled()">Enroll Participant to Training Program</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="clickOfListParticipantEnrolled()">List enrolled Participants</a>
          </li>
  
        </ul>
      
      </nav>
  </div>