<div class="text-right">
  <nav>
    <button (click)="redirectToAdmin()">Back to Admin</button>
  </nav>
</div>
<table class="table table-striped">
  <tr>
    <th>Faculty Id </th>
    <th>Faculty Name </th>
    <th>Skills</th>
    <th>Generate Report</th>
    
  </tr>
  <tr *ngFor="let f of faculty; let i =index">
  <td>{{f.facultyId}}</td>
  <td>{{f.facultyName}}</td>
  <td>{{f.skills}}</td>
  <td><button class="btn btn-warning" (click)="generateReport(f.facultyId)">Generate Report</button></td>
  <!-- <td><button class="btn btn-warning" (click)="remove(i)">Delete</button></td> -->
</tr>
</table>