<!-- <div class="justify-content-centre">
    
  
       <h5>Course Maintainance</h5>&nbsp;
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnAddCourse()">Add Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnListCourse()">List Courses</a>
          </li>
  
        </ul>
      
     
  </div>
  <div class="justify-content-centre">
    <nav class="navbar navbar-expand bg-light navbar-light">
        <h5>Faculty Maintainance</h5>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnAddFaculty()">Add new Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="clickOnListFaculty()">Show All Faculties</a>
          </li>
  
        </ul>
      
      </nav>
  </div>
  -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <head>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">    
              <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                  <ul class="sidenav admin-sidenav list-unstyled">
                      <li><a (click)="clickOnAddCourse()">Add Course</a></li>
                      <li><a (click)="clickOnListCourse()">Show Courses</a></li>
                      <li><a (click)="clickOnAddFaculty()">Add Faculty</a></li>
                      <li><a (click)="clickOnListFaculty()">Show Faculties</a></li>
                      <li><a (click)="clickOnRegister()">Register</a></li>
                      <li><a (click)="logout()">Logout</a></li>
                      <!-- <li><a href="#">NavLink 6</a></li>                   -->
                  </ul>
              </div> <!-- /#admin-sidebar -->
              <!-- <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">
                  <div class="content-title m-x-auto">
                      <i class="Welcome admin!"></i> Dashboard
                  </div>
                  <p class="display-4">Dashboard-y Things</p>
                   
                  
              </div>  -->

              <h1>Welcome Admin!</h1>
          </div> <!-- /.row -->
      </div> <!-- /.container-fluid -->
  </body>