<table class="table table-striped">
  <tr>
    <th>Training Program Id</th>
    <th>Course Name </th>
    <th>Faculty Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th colspan="2">Action</th>
    
    
  </tr>
  <tr *ngFor="let c of trainingList">
  <td>{{c.trainingCode}}</td>  
  <td>{{c.courseName}}</td>
  <td>{{c.facultyName}}</td>
  <td>{{c.startDate}}</td>
  <td>{{c.endDate}}</td>
  
  <td><button class="btn btn-warning" (click)="deleteTraining(c.trainingCode)">Delete</button></td>
  <td><button class="btn btn-warning" (click)="showFeedback(c.trainingCode)">Show Feedback</button></td>
</tr>
</table>