<div class="text-right">
  <nav>
    <button (click)="redirectToCoordinator()">Back to Coordinator Dashboard</button>
  </nav>
</div>
<div>
  <div>
    <h5 >Select a Course</h5>
    <table class="table table-striped">
      <tr>
        <th>Course Id </th>
        <th>Course Name </th>
        <th>No of Days</th>
        <th>Add Course</th>
        
      </tr>
      <tr *ngFor="let c of courses; let i =index">
      <td>{{c.courseId}}</td>
      <td>{{c.courseName}}</td>
      <td>{{c.noOfDays}}</td>
      <td><button class="btn btn-success" (click)="addCourse(c.courseId)">Add</button></td>
    </tr>
    </table>
  </div>
  
  <div>
    <h5>Select a Faculty</h5>
    <table class="table table-striped">
      <tr>
        <th>Faculty Id </th>
        <th>Faculty Name </th>
        <th>Skills</th>
        <th>Add Faculty</th>
        
      </tr>
      <tr *ngFor="let f of faculty; let i =index">
      <td>{{f.facultyId}}</td>
      <td>{{f.facultyName}}</td>
      <td>{{f.skills}}</td>
      <td><button class="btn btn-success" (click)="addFaculty(f.facultyId)">Add</button></td>
    </tr>
    </table>
  </div>
  
  <form (ngSubmit)="savetrainingProgram()" #addtrainingForm=ngForm>
    <div>
      <table>
       <tr>
          <td><h5>Enter Start Date</h5></td>
          <td>
            <input type="date" name="Start Date" class="form-control" [(ngModel)]="trainingProgramDate.startDate"
              placeholder="Enter Start Date"  #startdate="ngModel">
          </td>
        </tr>
        <tr>
          <td><h5>Enter End Date</h5></td>
          <td>
            <input type="date" name="end Date" class="form-control" [(ngModel)]="trainingProgramDate.endDate"
              placeholder="Enter end Date"  #enddate="ngModel">
          </td>
        </tr>
      </table>
    </div>
    <div>
      <button class="btn btn-primary" type="submit" >Add Training Program</button>
    </div>
  </form>

</div>