<form (ngSubmit)="checkLogin();loginForm.reset() " #loginForm=ngForm>
  <table class="table table-responsive">
    <tr><td>Enter Username</td>
    <td>
      <input [(ngModel)]="login.name" name="username" placeholder="Enter Username" required pattern="[A-Za-z]{4,}" #username = ngModel>
      <div *ngIf="username.dirty && username.touched && username.invalid" class="alert alert-danger">
        Username is invalid
      </div>
    </td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input [(ngModel)]="login.password" type="password" name="password" placeholder="Enter Password" required
        pattern="[A-Za-z0-9]{4,}" #password=ngModel>
        <div *ngIf="password.dirty && password.touched && password.invalid" class="alert alert-danger">
          Password is invalid
      </div>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <button class="btn btn-primary" type="submit" value="Login" [disabled]="!loginForm.valid">Login</button>
      </th>
    </tr>
  </table>
</form>
