
<div class="text-right">
  <nav>
    <button (click)="redirectToAdmin()">Back to Admin</button>
  </nav>
</div>
<table class="table table-striped table-sm">
  <label>Select Skills </label>
  <tr *ngFor="let s of selectedSkills;let i=index">
    <td>{{s}}</td>
    <td><button class="btn btn-warning" (click)="add(i)">add</button></td>
  </tr>
</table>


<form (ngSubmit)="saveFaculty(); addFacultyForm.reset()" #addFacultyForm=ngForm>
  <div>
    <table>
      <tr>
        <td><label> Faculty Name </label></td>
        <td>
          <input name="facultyName" class="form-control" [(ngModel)]=faculty.facultyName
            placeholder="Enter Faculty Name" required pattern="[A-Z][a-z]{1,}" #facultyName=ngModel>
        </td>
      </tr>
      <tr>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" type="submit" [disabled]="!addFacultyForm.valid">Add Faculty</button>
  </div>
</form>