<form (ngSubmit) = "saveFaculty(); addFacultyForm.reset()" #addFacultyForm=ngForm>
  <div>
    <table>
      <tr>
        <td><label> Faculty ID </label></td>
        <td>
          <input name="facultyId" class="form-control" 
          [(ngModel)]=faculty.facultyId 
          placeholder="Enter Faculty ID" 
          required pattern="[0-9]{1,2}" 
          #facultyId=ngModel>
        </td>
      </tr>
      <tr>
        <td><label> Faculty Name </label></td>
        <td>
          <input name="facultyName" class="form-control" 
          [(ngModel)]=faculty.facultyName 
          placeholder="Enter Faculty Name" 
          required pattern="[A-Z][a-z]{1,}" 
          #facultyName=ngModel>
        </td>
      </tr>
      <tr>
  
        <!-- <th>ID</th> -->
        <th>Skills</th>
        
      </tr>
      <tr *ngFor="let s of skills;let i = index">
         <!-- <td>{{s.skillId}}</td>
         <td>{{s.skillName}}</td>
         <td><button class="btn btn-warning" (click)="add(i)">add</button></td>
         -->
         <!-- <div class="checkbox">
          <label><input type="checkbox" 
            name="selectedSkill" 
            [(ngModel)]="s.checked"
            >{{s.skillName}}</label>
        </div> -->
        <div class="checkbox">
          <label><input type="checkbox" 
            name="selectedSkill" 
            [checked]="skills[i].checked" (change)="skills[i].checked= !skills[i].checked"
            >{{s.skillName}}</label>
        </div>
      </tr>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" type="submit" [disabled] = "!addFacultyForm.valid">Add Faculty</button>
  </div>
</form>