<form (ngSubmit) = "saveFaculty(); addFacultyForm.reset()" #addFacultyForm=ngForm>
  <div>
    <table>
      <tr>
        <td><label> Faculty ID </label></td>
        <td>
          <input name="facultyId" class="form-control" 
          [(ngModel)]=faculty.facultyId 
          placeholder="Enter Faculty ID" 
          required pattern="[0-9]{1,2}" 
          #facultyId=ngModel>
        </td>
      </tr>
      <tr>
        <td><label> Faculty Name </label></td>
        <td>
          <input name="facultyName" class="form-control" 
          [(ngModel)]=faculty.facultyName 
          placeholder="Enter Faculty Name" 
          required pattern="[A-Z][a-z]{1,}" 
          #facultyName=ngModel>
        </td>
      </tr>
      <tr>
        <td><label>Skills</label></td>
        <!-- <td>
          <input name="skills" class="form-control" 
          [(ngModel)]=faculty. 
          placeholder="Select Skills" 
          required pattern= "[0-9]{1,3}" 
          #skills = ngModel>
        </td> -->
      </tr>
    </table>
  </div>
  <div>
    <button class="btn btn-primary" type="submit" [disabled] = "!addFacultyForm.valid">Add Faculty</button>
  </div>
</form>